  <div class="footer">
    <div class="row footer-bottom">
      <div class="col-12 col-md-8 d-flex justify-content-center footer-bottom-links">

          <div class="footer-links">
            <a href="https://www.facebook.com/olimpiarospigliosipr/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/olimpiarospigliosi/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/olimpia-rospigliosi-39898a14/"><i class="fab fa-linkedin"></i></a>
          </div>

      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center footer-copyright">
        <div class="d-flex align-items-center">
            <i class="far fa-copyright"></i>
            <p>2019 - Olimpia Rosipigliosi | Credit: <%= link_to "Regis Weill", "http://www.weill.it", id: "credit_link" %></p>
        </div>
      </div>
    </div>
  </div>



