
<div class="banner">
  <div class="footer-top">
    <div class="footer-top-content">
      <div class="container p-8">
        <div class="row d-flex">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left">
            <h5>ABOUT</h5>
            <p>OR Pr & Comunicazione offre attività personalizzate che includono posizionamento del brand, relazioni media e organizzazione eventi.</p>
          </div>
          <div class="col-12 col-md-4 col-lg-3 col-xl-3 text-left">
            <h5>OR-PR</h5>
            <div class="d-flex">
                <ul class="list-unstyled" id="ul-margin-right">
                  <li id="li-mb"><%= link_to "About", "/about.html" %></li>
                  <li id="li-mb"><%= link_to "Contatti", "/contact.html" %></li>
                </ul>

                <ul class="list-unstyled">
                  <li id="li-mb"><%= link_to "Servizi", "/services.html" %></li>
                  <li id="li-mb"><%= link_to "Pubblicazioni", "/editorials.html" %></li>
                </ul>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-3 text-left">
            <h5>CONTATTI</h5>
            <p>
                Piazza Borromeo, 10 <br>
                20123 Milano - IT <br>
                Tel. +39 0236585108 <br>
                info@olimpiarospigliosi.it <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
