.cards-reason {
  margin-top: 56px;
}

.flip-card-reason {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin-bottom: 32px;
}

.card-reason-inner {
  position: relative;
  width: 100%;
  height: 100%;
  // text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-reason:hover .card-reason-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card-reason-front, .card-reason-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.card-reason-front {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
}
.card-reason-icon {
  justify-content: flex-start;
}

/* Style the back side */
.card-reason-back {
  background-color: $assa-green;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 24px;
}

.card-reason-back > p {
  color: white;
}

.card-business-green {
border-radius: 2px;
background: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
// border: 1px solid #1EDD88;
padding: 18px 24px;
}

.icon-color {
  color: $assa-green;
  font-size: 21px;
}
// .card-reason > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-reason h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-reason h3 {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
//   margin-top: 6px;
// }

// .card-reason .card-reason-details {
//   padding: 14px;
//   height: 80px;
// }


