.btn-simple-contact {
  font-size: 14px;
  border: 2px solid #0A0A0A;
  padding: 14px 22px;
  border-radius: 3px;
  font-weight: bolder;
  background: none;
  float: center;
  color: inherit;
}

.btn-simple-contact:hover {
  text-decoration: none;
  color: white;
  background: #0A0A0A;
}

.btn-simple-contact:active {
  text-decoration: none;
  color: inherit;
 }

#py14-px22 {
  padding: 12px 22px;
}
