.btn-simple-contact {
  font-size: 14px;
  border: 2px solid $assa-green;
  padding: 14px 22px;
  border-radius: 3px;
  font-weight: bolder;
  background: $assa-green;
  float: center;
  color: white;
}

.btn-simple-contact:hover {
  text-decoration: none;
  color: $assa-green;
  background: none;
}

.btn-simple-contact:active {
  text-decoration: none;
  color: inherit;
 }

#py14-px22 {
  padding: 12px 22px;
}
