
.banner-grey h2 {
  font-weight: bold;
  margin-top: 16px;
}

.banner-white h2 {
  font-weight: bold;
  margin-top: 16px;
}

.banner-white p {
  padding-right: 16px;
  padding-left: 16px;
}

.banner-grey p {
  padding-right: 16px;
  padding-left: 16px;
}

#img-services {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.kill-padding {
  padding: 0;
}


