---
title: Assaporami Business - About
---

  <!-- start wrapper -->
  <div class="wrapper">

    <div class="banner banner-about banner-img">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="banner-about-content kill-padding-lr">
            <div id="about-title">
              <h3 class="h3-responsive">Assaporami - Servizi di ristorazione innovativi per aziende</h3>
            </div>
            <div id="about-text">
              <p class="p-responsive">Assaporami si avvale di un team di Chef e nutrizionisti per selezionare i migliori ingredienti e cucinare i piatti freschi, buoni e sani della vostra pausa pranzo ideale.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner banner-about-profile">
      <div class="container">
        <div class="row d-flex">
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr d-flex team-avatars">
           <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/c_fill,h_125,w_125/v1573936403/Assaporami/about/regis_weill_picture.jpg", class:"avatar-large" %>
           <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/c_fill,h_125,w_125/v1573936649/Assaporami/about/marco.jpg", class:"avatar-large" %>
           <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/c_fill,h_125,w_125/v1573936930/Assaporami/about/giaccomo.jpg", class:"avatar-large" %>

          </div>
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr">
            <div class="box-content">

              <div class="content-about text-center">
                <div>
                  <h2>Il team</h2>
                </div>
                <div>
                  <h5>Profilo</h5>
                </div>
                <hr align="center" width="10%">
                <div>
                  <p>
                  Regis Weill, Co-founder & CEO, Laurea Université Lyon2, Master Université IAE-Lyon3, Full-stack coding @ Le Wagon. Regis ha creato varie società nel settore delle tecnologie e dei media.
                  </p>
                  <p>
                  Marco Almerigogna, Co-founder & COO, Laurea Università Bocconi, MBA Insead. Marco è stato membro del board di numerose società prima di creare RT, società di consulenza nel food & beverage.
                  </p>
                  <p>
                  Giaccomo Treccani, Co-founder & Chef Director, ALMA & AIBES. Giaccomo ha ideato e creato vari formati di successo nel settore delle ristorazione italiana, portando prodotti di qualità alla portata dei più numerosi.
                  </p>
                  <p>
                  E tanti altri super collaboratori bravi che abbiamo deciso di non nominare !
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner banner-about-agency">
      <div class="container d-flex">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr ">
            <div class="box-content">
              <div class="content-about text-center">
                <div>
                  <h2>Assaporami</h2>
                </div>
                <div>
                  <h5>La società</h5>
                </div>
                <hr align="center" width="10%">
                <div>
                  <p>
                    Presente sul mercato dal 2016, Assaporami offre una molteplicità di servizi di ristorazione alle aziende perchè possano offrire ai loro collaboratori una pausa pranzo sana ed equilibrata. Food delivery a prezzi dolci o soluzioni on-site, le soluzioni proposte sono flessibili e richiedono poco spazio.
                  </p>

                  <p>
                    Avvalendosi di esperti culinari e di nutrizione, Assaporami crea e cunica ogni giono dei piatti freschi, buoni e sani per dipendenti esigenti.
                  </p>
                </div>
            </div>
              </div>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr ">
            <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573917157/Assaporami/about/chiara_holding_bowl.jpg", class:"w-100" %>
          </div>
        </div>

      </div>
    </div>
    <!-- end wrapper -->
  </div>
