---
title: Olimpia Rospigliosi Agency - About
---

  <!-- start wrapper -->
  <div class="wrapper">

    <div class="banner banner-about banner-img">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="banner-about-content kill-padding-lr">
            <div id="about-title">
              <h3 class="h3-responsive">OR - Olimpia Rospigliosi PR & Comunicazione</h3>
            </div>
            <div id="about-text">
              <p class="p-responsive">Olimpia Rospigliosi si avvale di esperti collaboratori per creare un team personalizzato e offrire servizi di posizionamento del brand, di supporto commerciale, di comunicazione e di produzione eventi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner banner-about-profile">
      <div class="container">
        <div class="row d-flex">
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr">
           <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1560786503/sito/About/2.portrait_va0vft.jpg", class:"w-100" %>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr">
            <div class="box-content">

              <div class="content-about text-center">
                <div>
                  <h2>Olimpia Rospigliosi</h2>
                </div>
                <div>
                  <h5>Profilo</h5>
                </div>
                <hr align="center" width="10%">
                <div>
                  <p>
                  Dopo un’infanzia trascorsa a Parigi, tra le vetrine dell’alta moda, e una successiva tappa a Roma, Olimpia si trasferisce a Milano dove lavora nel fondo di investimenti L Capital (gruppo LVMH). Svolge una successiva esperienza presso la Camera Nazionale della Moda Italiana, in cui gestisce eventi a Palazzo Reale e Palazzo Marino.
                  </p>
                  <p>
                  Nel 2008 apre la propria agenzia di PR & Comunicazione: lancia marchi come Chrissie Morris e Salar. Scopre il marchio Kinloch, di cui cura le relazioni pubbliche e l’immagine, ed individua un investitore per il brand. Collabora tra gli altri con Walter De Silva, Agalma Medusae, Rosa Castelbarco e gestisce varie operazioni nei settori della moda, del design e dell'arte.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner banner-about-agency">
      <div class="container d-flex">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr ">
            <div class="box-content">
              <div class="content-about text-center">
                <div>
                  <h2>OR PR & Comunicazione</h2>
                </div>
                <div>
                  <h5>L'agenzia</h5>
                </div>
                <hr align="center" width="10%">
                <div>
                  <p>
                    Situato a Milano, nella centralissima Piazza Borromeo, l’agenzia offre una molteplicità di servizi di comunicazione, per marchi di moda, lifestyle, e design, avvalendosi di esperti collaboratori per creare un team personalizzato.
                  </p>

                  <p>
                    Un’ampia parte dello spazio è dedicata all’arte dove l'agenzia organizza mostre e opening.
                  </p>
                </div>
            </div>
              </div>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr ">
            <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108435/sito/About/3.orpragenzia_xvsjwq.jpg", class:"w-100" %>
          </div>
        </div>

      </div>
    </div>
    <!-- end wrapper -->
  </div>
