---
title: Assaporami Business - About
---

  <!-- start wrapper -->
  <div class="wrapper">

    <div class="banner banner-about banner-img">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="banner-about-content kill-padding-lr">
            <div id="about-title">
              <h3 class="h3-responsive">Assaporami - Servizi di ristorazione innovativi per aziende</h3>
            </div>
            <div id="about-text">
              <p class="p-responsive">Assaporami si avvale di un team di Chef e nutrizionisti per selezionare i migliori ingredienti e comporre i piatti freschi, buoni e sani della vostra pausa pranzo ideale.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner banner-about-profile">
      <div class="container">
        <div class="row d-flex">
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr">
           <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/c_scale,h_555,w_555/v1573855946/Assaporami/about/Dartagnan-musketeers.jpg", class:"w-100" %>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr">
            <div class="box-content">

              <div class="content-about text-center">
                <div>
                  <h2>Il team</h2>
                </div>
                <div>
                  <h5>Profilo</h5>
                </div>
                <hr align="center" width="10%">
                <div>
                  <p>
                  Athos, Incididunt proident exercitation dolor reprehenderit duis non proident commodo aliquip aliquip duis dolore tempor ut est.
                  </p>
                  <p>
                  Porthos sed minim incididunt irure ad amet proident consectetur exercitation.
                  </p>
                  <p>
                  Aramis, Do sint ut velit dolore et exercitation est ea veniam fugiat deserunt anim dolore ad.
                  </p>
                  <p>
                  D'Artagnan, Do sint ut velit dolore et exercitation est ea veniam fugiat deserunt anim dolore ad.
                  </p>

                  <p>
                   Athos, Porthos, Aramis & d'Artagna Voluptate sint dolor in nulla dolore est officia sit reprehenderit proident cupidatat in. Elit nulla proident elit sed in do elit sunt aliquip. Fugiat eu excepteur adipisicing voluptate tempor commodo elit incididunt aute quis do irure adipisicing veniam eu reprehenderit ullamco consectetur enim.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner banner-about-agency">
      <div class="container d-flex">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr ">
            <div class="box-content">
              <div class="content-about text-center">
                <div>
                  <h2>Assaporami</h2>
                </div>
                <div>
                  <h5>La società</h5>
                </div>
                <hr align="center" width="10%">
                <div>
                  <p>
                    Presente sul mercato dal 2016, Assaporami offre una molteplicità di servizi di ristorazione alle aziende perchè possano offrire ai loro collaboratori una pausa pranzo sana ed equilibrata. Food delivery a prezzi dolci o soluzioni on-site, le soluzioni proposte sono flessibili e richiedono poco spazio.
                  </p>

                  <p>
                    Avvalendosi di esperti culinari e di nutrizione, Assaporami crea ogni giono dei piatti freschi, buoni e sani per i dipendenti esigenti.
                  </p>
                </div>
            </div>
              </div>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-6 kill-padding-lr ">
            <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573917157/Assaporami/about/chiara_holding_bowl.jpg", class:"w-100" %>
          </div>
        </div>

      </div>
    </div>
    <!-- end wrapper -->
  </div>
