---
title: Olimpia Rospigliosi Agency - Contatti
---

<div class="wrapper">
  <div class="banner banner-map">

  </div>

  <div class="container pt-5 pb-16">
    <div class="row d-flex justify-content-between">
        <div class="col-12 col-md-4 contact-details">
          <h5>CONTATTI</h5>
          <p>
            Olimpia Rospigliosi Agency <br>
            Piazza Borromeo, 10 <br>
            20123 Milano - IT <br>
            Tel. +39 0236585108 <br>
            info@olimpiarospigliosi.it <br>
          </p>
        </div>

        <div class="col-12 col-md-8 form">
          <form class="form" id="contactform" action="//formspree.io/info@olimpiarospigliosi.it" method="POST">
            <h5 class="mb-14">SCRIVETECI</h5>
            <div class="form-row">
              <div class="col-6 form-group">
                <fieldset class="field">
                  <input class="input form-control" type="text" name="first_name" placeholder="Nome" id="first_name" required>
                </fieldset>
              </div>
              <div class="col-6 form-group">
                <fieldset class="field">
                  <input class="input form-control" type="text" name="last_name" placeholder="Cognome" id="last_name" required>
                </fieldset>
              </div>
            </div>

            <div class="form-group">
              <fieldset class="field">
                <input class="input form-control" type="company" name="company" placeholder="Azienda" id="company" required>
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset class="field">
                <input class="input form-control" type="email" name="_replyto" placeholder="esempio@domain.com" id="_replyto" required>
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset class="field">
               <textarea class="input form-control" name="message" rows="10" placeholder="Messaggio" id="message" required></textarea>
               </fieldset>
            </div>
             <input class="hidden" type="text" name="_gotcha" style="display:none">
             <input class="hidden" type="hidden" name="_subject" value="Message via http://domain.com">
            <fieldset class="field">
              <input class=" submit btn btn-contact" type="submit" value="CONTATTACI">
            </fieldset>
          </form>
        </div>

    </div><!-- row -->
  </div><!-- end container -->
</div><!-- end wrapper -->

