---
title: OR - Olimpia Rospigliosi Agency | Relazioni Pubbliche & Comunicazione
---

  <!--Carousel Super Wrapper-->
  <div class=super-wrapper>
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
        <li data-target="#carousel-example-2" data-slide-to="3"></li>
        <li data-target="#carousel-example-2" data-slide-to="4"></li>
        <li data-target="#carousel-example-2" data-slide-to="5"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561042664/sito/Carousel/1.pressoffice_digitalpr____mdclyu.jpg"
              alt="Olimpia Rospigliosi Agency Press Office & Pr">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <h3>Assaporami on-demand</h3>
            <p>Una tarrifa dolce per i vostri collaboratori. L'azienda può participare alla spesa del pranzo.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561051216/sito/Carousel/2.organizzazioneeventi_gy18ps.jpg"
              alt="Olimpia Rospigliosi Agency Organizzazione Eventi">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
              <h3>Assaporami corner</h3>
              <p>Assaporami presso i vostri uffici. Soluzione modulabile (pranzo e collazione) integrata al vostro arredamento.
              </p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561106811/sito/Carousel/3.supportocommerciale_h0vb3z.jpg"
              alt="Olimpia Rospigliosi Agency Supporto Commerciale">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Fresh wall</h3>
            <p>Soluzione versatile, richiede pochissimo spazio. Aperta per l'ora di pranzo.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561047866/sito/Carousel/4.scouting_2_i1n0ld.jpg"
              alt="Olimpia Rospigliosi Agency Scouting new talents">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Exclusive lunch bag</h3>
            <p>Ricette esclusive per le vostre riunioni piu importanti.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561048805/sito/Carousel/5.consulenzadimmagine_ipfxee.jpg"
              alt="Olimpia Rospigliosi Agency Consulenza d'Immagine">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Power staff meeting</h3>
            <p>L'abbonamento per le vostre riunioni settimanali: La bonta in riunione. Una soluzione unica pensata per i vostri collaboratori</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561367311/sito/Carousel/6.showroom_wfyeh5.jpg"
              alt="Olimpia Rospigliosi Agency Showroom & Mostre">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Assporami Event</h3>
            <p>Assieme a voi organizziamo eventi privilegiati per i vostri collaboratori: team-building, break-fast meeting, interventi eco-responsabili, presentazione ricette...</p>
          </div>
        </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>
  <!--Carousel Super Wrapper-->


<div class="banner bg-white">

  <div class="container text-center padding-top-bottom">
    <div class="content-presentation">

      <div class="content-presentation-title">
        <h3>Assaporami Business - Le nuove soluzione ristorative per aziende</h3>
      </div>

      <div class="content-presentation-sub-title">
        <h6><em>La migliore pausa pranzo per i vostri collaboratori</em></h6>
      </div>

      <hr align="center" width="10%">

      <div class="content-presentation-text-title">
        <p><strong>Ogni giorno, i nostri Chef preparano dei piatti saporiti, sani, ed equilibrati, consegnati nei vostri uffici affinchè i vostri collaboratori si deliziano. Con Assaporami non ci sono più scuse per godersi la pausa pranzo.</strong></p>
      </div>

      <div class="content-presentation-text">
        <p class="font-weight-light">Abbiamo pensato a tutto ma soppratutto abbiamo pensato a Voi, ai vostri collaboratori. Non consequat et enim ea laborum laboris aliquip in culpa nisi nulla fugiat non irure irure magna id eiusmod nostrud in anim qui cupidatat. Ea reprehenderit id dolore incididunt sunt sed dolor ut deserunt eu irure ut pariatur irure reprehenderit esse in minim.
        </p>
      </div>
      </div>
  </div>
</div>

<div class="banner bg-light-gray">
  <div class="container text-center padding-top-bottom" id="marbo-60">
    <div>
      <h3>Eventi realizzati</h3>
    </div>
    <div class="row cards-event">
      <% data.events.each do |event| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card-event">
            <%= image_tag "#{event.picture}" %>
            <div class="card-event-details d-flex flex-column justify-content-between">
              <h2><%= event.title %></h2>
              <h3><%= event.date %></h3>
            </div>
          </div>
        </div><!--/.col-->
      <% end %>
    </div><!--/.row-->
  </div>
</div>


