---
title: Assaporami | Servizi di ristorazione aziendali innovativi
---

  <!--Carousel Super Wrapper-->
  <div class=super-wrapper>
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
        <li data-target="#carousel-example-2" data-slide-to="3"></li>
        <li data-target="#carousel-example-2" data-slide-to="4"></li>
        <li data-target="#carousel-example-2" data-slide-to="5"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561042664/sito/Carousel/1.pressoffice_digitalpr____mdclyu.jpg"
              alt="Olimpia Rospigliosi Agency Press Office & Pr">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <h3>Assaporami on-demand</h3>
            <p>Una tarrifa dolce per i vostri collaboratori. L'azienda può participare alla spesa del pranzo.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561051216/sito/Carousel/2.organizzazioneeventi_gy18ps.jpg"
              alt="Olimpia Rospigliosi Agency Organizzazione Eventi">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
              <h3>Assaporami corner</h3>
              <p>Assaporami presso i vostri uffici. Soluzione modulabile (pranzo e collazione) integrata al vostro arredamento.
              </p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561106811/sito/Carousel/3.supportocommerciale_h0vb3z.jpg"
              alt="Olimpia Rospigliosi Agency Supporto Commerciale">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Fresh wall</h3>
            <p>Soluzione versatile, richiede pochissimo spazio. Aperta per l'ora di pranzo.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561047866/sito/Carousel/4.scouting_2_i1n0ld.jpg"
              alt="Olimpia Rospigliosi Agency Scouting new talents">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Exclusive lunch bag</h3>
            <p>Ricette esclusive per le vostre riunioni piu importanti.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561048805/sito/Carousel/5.consulenzadimmagine_ipfxee.jpg"
              alt="Olimpia Rospigliosi Agency Consulenza d'Immagine">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Power staff meeting</h3>
            <p>L'abbonamento per le vostre riunioni settimanali: La bonta in riunione. Una soluzione unica pensata per i vostri collaboratori</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561367311/sito/Carousel/6.showroom_wfyeh5.jpg"
              alt="Olimpia Rospigliosi Agency Showroom & Mostre">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Assaporami Event</h3>
            <p>Assieme a voi organizziamo eventi privilegiati per i vostri collaboratori: team-building, break-fast meeting, interventi eco-responsabili, presentazione ricette...</p>
          </div>
        </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>
  <!--Carousel Super Wrapper-->

<!--Banner bg-white-->
<div class="banner bg-white">

  <div class="container text-center padding-top-bottom">
    <div class="content-presentation">

      <div class="content-presentation-title">
        <h3>Assaporami - Le soluzioni ristorative innovative per mangiare meglio in azienda</h3>
      </div>

      <div class="content-presentation-sub-title">
        <h6><em>La migliore pausa pranzo per i vostri collaboratori</em></h6>
      </div>

      <hr align="center" width="10%">

      <div class="content-presentation-text-title">
        <p><strong>Ogni giorno, i nostri Chef preparano dei piatti saporiti, sani, ed equilibrati, consegnati nei vostri uffici affinchè i vostri collaboratori si deliziano. Con Assaporami non ci sono più scuse per godersi la pausa pranzo.</strong></p>
      </div>

      <div class="content-presentation-text">
        <p class="font-weight-light">Abbiamo pensato a tutto ma soppratutto abbiamo pensato a Voi, ai vostri collaboratori. Non consequat et enim ea laborum laboris aliquip in culpa nisi nulla fugiat non irure irure magna id eiusmod nostrud in anim qui cupidatat. Ea reprehenderit id dolore incididunt sunt sed dolor ut deserunt eu irure ut pariatur irure reprehenderit esse in minim.
        </p>
      </div>
      <div>
        <%= partial "/horizontal_simple_form" %>
      </div>
    </div>
  </div>
</div>
<!--.Banner bg-white-->

<!--Banner bg-light-gray-->
<div class="banner bg-light-gray">
  <div class="container text-center padding-top-bottom" id="marbo-60">

    <h3>Come aiutiamo le aziende</h3>
    <!--Cards-reason row-->
    <div class="row cards-reason d-flex">

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  Servizio su misura.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>Valutiamo qual'è la migliore soluzione ristorativa in base al tuo budget e al tuo spazio. Facile da installare le nostre soluzioni non necessitano grande spazio. Da qualche metri quadrati per installare un frigo a una stanza se vuoi un servizio con il nostro personale decicato. Possiamo disegnare un progetto piu integrato con il nostro team di designer. E ricordati, consegnamo piatti pronti monoporzione: nessun odore!</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  You'll improve the health of your team.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>Eating right keeps us healthy. A healthy team leads to less missed work, better quality work, fewer doctor visits, and lower health care costs.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  You'll boost afternoon energy levels.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>When your team eats greasy pizza for lunch, they hit a wall at 3pm. Our fresh and nutrient-rich lunches give your employees the focus and stamina they need to finish the day strong.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  You’ll save time by simplifying lunch logistics.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>Choosing a restaurant, ordering lunch, and picking it up is a huge waste of resources. We return that time to your team.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  You’ll find it easier to attract and keep top talent.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>The best and brightest people flock to the best workplaces. By offering a forward-thinking benefit like LunchOwl, you make it crystal clear to prospective employees that you value and invest in your people.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  You’ll make it easier for friendships to form.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>Having friends at works makes us happier and more likely to stay. It’s easy to connect and get to know each other over lunch when it’s delivered.</p>
          </div>
        </div>
      </div>

    </div>
    <!--.Cards-reason row-->
    <!--row-->
    <div class="row justify-content-center mt-4">
      <div class="col-10 col-md-8 col-lg-10">
        <div class="card-business-green">
        <p class="mb-0">SEI IL TITOLARE / RESPONSABILE DELL' AZIENDA ?&nbsp;&nbsp;<%= link_to "CONTATTACI", "/contact.html", class: "btn btn-simple-contact" %> </p>
        </div>
      </div>
    </div>
    <!--.row-->

  </div>
</div>
<!--.Banner bg-light-gray-->

<!--Banner bg-white-->
<div class="banner bg-white pb-5">
  <div class="container text-center padding-top-bottom">

    <h3>Come aiutiamo i dipendenti</h3>
    <!--Business-cards-reason row-->
    <div class="row cards-reason d-flex">

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  You'll have an authentic experience.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>Every week our team of Chef together with the nutritionist propose a new menu. Creative, balanced, fresh and healthy, we want our dishes to be tasty. We offer different range of dishes (Super proteic, meat focused, fish focused, vegan..) and try to make your team discover new flavors from all over the world without forgetting the very local ones.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  You’ll know what you eat.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>Single serving lunch with all the details you have always wanted to know about your food: calories, protein, glucida, allergenic...</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  Eat when you want, where you want.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>Your food in it’s elegant and compostable packaging (sometime only recyclable but we work on it) is always ready to be eaten. Perfectly protected and uncontaminated you can take it wherever you want with your colleagues and enjoy it when you want: in the lunch space, at your desk, in your meeting room or in the park nearby ! It’s up to you.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  Sweet prices for sweet employees.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>We propose special prices for companies in order to make healthy food accessible for all. You will have an automatic discount on our street price list. Together with your company we study the best solution for you and allow the company to contribute up to 100% of you lunch !</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  Manage your special meeting.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>We are willing to prepare special dishes for your special occasion such as executive meeting, department meeting or client meeting. With just a few days in advance we can delight your guests.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
                <h4 class="text-center">
                  <i class="fas fa-carrot icon-color"></i>  You’ll make it easier for friendships to form.
                </h4>
          </div>
          <div class="card-reason-back">
            <p>Having friends at works makes us happier and more likely to stay. It’s easy to connect and get to know each other over lunch when it’s delivered.</p>
          </div>
        </div>
      </div>

    </div>
    <!--.Business-cards-reason row-->
    <!--row-->
    <div class="row justify-content-center mt-4">
      <div class="col-10 col-md-8 col-lg-10">
        <div class="card-business-green">
        <p class="mb-0">SEI UN DIPENDENTE DI UN'AZIENDA E VUOI PORTARE ASSAPORAMI NEI TUOI UFFICI ?&nbsp;&nbsp;<%= link_to "CONTATTACI", "/contact.html", class: "btn btn-simple-contact" %> </p>
        </div>
      </div>
    </div>
    <!--.row-->

  </div>
</div>
<!--.Banner bg-white-->


