---
title: Assaporami | Servizi di ristorazione aziendali innovativi
---

  <!--Carousel Super Wrapper-->
  <div class=super-wrapper>
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
        <li data-target="#carousel-example-2" data-slide-to="3"></li>
        <li data-target="#carousel-example-2" data-slide-to="4"></li>
        <li data-target="#carousel-example-2" data-slide-to="5"></li>
        <li data-target="#carousel-example-2" data-slide-to="6"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/orexibus/image/upload/c_fill,h_452,w_1024/v1573843122/Assaporami/Index/foodiesfeed.com_green-salad-with-bread.jpg"
              alt="Olimpia Rospigliosi Agency Press Office & Pr">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <h3>Assaporami on-demand</h3>
            <p>La consegna del pranzo in azienda con prezzi convenzionati. L'azienda può participare alla spesa.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561051216/sito/Carousel/2.organizzazioneeventi_gy18ps.jpg"
              alt="Olimpia Rospigliosi Agency Organizzazione Eventi">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
              <h3>Assaporami corner</h3>
              <p>Assaporami presso i vostri uffici. Soluzione modulabile (pranzo e collazione) integrata al vostro arredamento.
              </p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/pimpi1/image/upload/c_lfill,h_452,w_1024/v1561106811/sito/Carousel/3.supportocommerciale_h0vb3z.jpg"
              alt="Olimpia Rospigliosi Agency Supporto Commerciale">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Assaporami fresh wall</h3>
            <p>Soluzione versatile, richiede pochissimo spazio. Aperta per l'ora di pranzo.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/orexibus/image/upload/c_fill,h_452,w_1024/v1573831189/Assaporami/Servizi/exclusive_bowl.jpg"
              alt="Assaporami Exclusive lunch bag, exclusive bowl">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Exclusive lunch bag</h3>
            <p>Ricette esclusive per le vostre riunioni piu importanti.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/orexibus/image/upload/c_fill,h_452,w_1024/v1573830336/Assaporami/Servizi/lunch_meeting.jpg"
              alt="Assaporami Power staff meeting">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Power staff meeting</h3>
            <p>L'abbonamento per le vostre riunioni settimanali: La bonta in riunione.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/orexibus/image/upload/c_fill,e_art:quartz,h_452,w_1024/v1573825558/Assaporami/Servizi/team-building.jpg"
              alt="Assaporami - Eventi per aziende, team building">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Assaporami Event</h3>
            <p>Assieme a voi organizziamo eventi privilegiati per i vostri collaboratori: team-building, break-fast meeting, interventi eco-responsabili...</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://res.cloudinary.com/orexibus/image/upload/c_fill,co_rgb:ffffff,e_auto_brightness,h_452,o_100,w_1024/v1573826175/Assaporami/Servizi/catering.jpg"
              alt="Assaporami - Catering su misura">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3>Assaporami Catering</h3>
            <p>Organizziamo colazioni di benvenuto, coffee break, pranzi, cocktail e cene per i vostri eventi aziendali.</p>
          </div>
        </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>
  <!--Carousel Super Wrapper-->

<!--Banner bg-white-->
<div class="banner bg-white">

  <div class="container text-center padding-top-bottom">
    <div class="content-presentation">

      <div class="content-presentation-title">
        <h3>Assaporami - Le soluzioni ristorative innovative per mangiare meglio in azienda</h3>
      </div>

      <div class="content-presentation-sub-title">
        <h6><em>La migliore pausa pranzo per i vostri collaboratori</em></h6>
      </div>

      <hr align="center" width="10%">

      <div class="content-presentation-text-title">
        <p><strong>Ogni giorno, i nostri Chef preparano dei piatti saporiti, sani, ed equilibrati, consegnati nei vostri uffici affinchè i vostri collaboratori si deliziano. Con Assaporami non ci sono più scuse per godersi la pausa pranzo.</strong></p>
      </div>

      <div class="content-presentation-text">
        <p class="font-weight-light mb-4">Abbiamo pensato a tutto ma soppratutto abbiamo pensato a Voi, ai vostri collaboratori. Abbiamo pensato che tutti dovrebbero potere avere accesso a dei piatti freschi, buoni e sani. Abbiamo quindi pensato a scegliere i migliori fornitori per avere un materia prima di qualità, e poi di elaborare dei menu vareggiati ed equilibrati ogni settimana. E abbiamo deciso di preparali e di confezionarli in porzione individuale con packaging compostabile in modo che possano essere etichettati riportando tutte le loro caratteristiche: ingredienti, allergeni e valori nutrizionali...Ma sopratutto che possano essere assaporati per rendere la giornata di lavoro più bella e proficua!
        </p>
      </div>
      <div>
        <%= partial "/horizontal_simple_form" %>
      </div>
    </div>
  </div>
</div>
<!--.Banner bg-white-->

<!--Banner bg-light-gray-->
<div class="banner bg-light-gray">
  <div class="container text-center padding-top-bottom" id="marbo-60">

    <h3>Come aiutiamo le aziende</h3>
    <div class="content-presentation-text-title">
      <p><strong>Con Assaporami, potete offrire un servizio di ristorazione on-site ai vostri collaboratori. Qualsiasi sia la dimensione della vostra azienda abbiamo la soluzione piu adatta. Da 25 collaboratori a vari centinaia di dipendenti, vi possiamo aiutare ad offrire la migliore pausa pranzo ai vostri dipendenti.</strong></p>
    </div>
    <!--Cards-reason row-->
    <div class="row cards-reason d-flex">

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
              <i class="fas fa-tachometer-alt icon-reason"></i>
              <h4 class="text-center text-reason">  Servizio su misura e attivazione veloce.</h4>
          </div>
          <div class="card-reason-back">
            <p>Valutiamo la migliore soluzione in base a budget e spazio. Facile da installare le nostre soluzioni non necessitano grande spazio. Da qualche m2 per un frigo fino ad una stanza per il servizio con il nostro personale.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-heartbeat icon-reason"></i>
            <h4 class="text-center text-reason">Migliorate la salute dei vostri dipendenti.</h4>
          </div>
          <div class="card-reason-back">
            <p>Mangiare bene ci mantiene in forma. Un team in salute permette di ridurre il numero di visite mediche, le assenze e il lavoro incompiuto. Mentre contribuisce ad aumentare la qualità del lavoro. </p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-battery-full icon-reason"></i>
            <h4 class="text-center text-reason">Aumentate il livello di energia pomeridiana.</h4>
          </div>
          <div class="card-reason-back">
            <p>Un pranzo troppo pesante ha effetti negativi sulla produttivita del team. I nostri piatti forniscono i nutrimenti necessari per aumentare concentrazione e resistenza fisica per il resto della giornata.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-business-time icon-reason"></i>
            <h4 class="text-center text-reason">Risparmete tempo semplificando la logisica della pausa pranzo.</h4>
          </div>
          <div class="card-reason-back">
            <p>Scegliere un ristorante, ordinare i pasti, reccarsi sul posto, fare la fila...Una perdita di tempo notevole che invece viene restituito al vostro team.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-user-graduate icon-reason"></i>
            <h4 class="text-center text-reason">Trattenete e reclutate piu facilmente i migliori talenti.</h4>
          </div>
          <div class="card-reason-back">
            <p>I migliori collaboratori sono attrati dai migliori posti di lavoro. Offrendo piatti freschi, buoni e sani ai vostri dipendenti, manderete un messaggio chiaro sul tipo di investimenti che fate nelle personne nella vostra azienda.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-user-friends icon-reason"></i>
            <h4 class="text-center text-reason">Contribuite a creare le relazioni sociali in azienda.</h4>
          </div>
          <div class="card-reason-back">
            <p>Avere degli amici in azienda, ci rende piu felice e piu propenso a rimanere. E piu facile interagire e conoscere i propri collaboratori quando il cibo vien consegnato.</p>
          </div>
        </div>
      </div>

    </div>
    <!--.Cards-reason row-->
    <!--row-->
    <div class="row justify-content-center mt-4">
      <div class="col-10 col-md-8 col-lg-10">
        <div class="card-business-green">
        <p class="mb-0">SEI IL TITOLARE / RESPONSABILE DELL' AZIENDA ?&nbsp;&nbsp;<%= link_to "CONTATTACI", "/contact.html#first_name", class: "btn btn-simple-contact" %> </p>
        </div>
      </div>
    </div>
    <!--.row-->

  </div>
</div>
<!--.Banner bg-light-gray-->

<!--Banner bg-white-->
<div class="banner bg-white pb-5">
  <div class="container text-center padding-top-bottom">

    <h3>Come aiutiamo i dipendenti</h3>
    <!--Business-cards-reason row-->
    <div class="row cards-reason d-flex">

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-seedling icon-reason"></i>
            <h4 class="text-center text-reason">Fresco. Buono. Sano.</h4>
          </div>
          <div class="card-reason-back">
            <p>Ogni settimana, chef e nutrizionisti vi preparano un menu diverso con piatti creativi, bilanciati e sani. Selezioniamo con cura i migliori e piu freschi ingredienti. Consegnamo ogni giorno dei piatti freschi.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-rainbow icon-reason"></i>
            <h4 class="text-center text-reason">Un esperienza culinare autentica.</h4>
          </div>
          <div class="card-reason-back">
            <p>Offriamo un'ampia gamma di piatti per rispondere a tutti i gusti e stile di vita: super proteici, vegetariani, vegani, senza glutine..e cerchiamo di farti scoprire sapori del mondo senza dimenticare i piatti piu locali.</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-eye icon-reason"></i>
            <h4 class="text-center text-reason">Una totale trasparenza: Sai cosa mangi.</h4>
          </div>
          <div class="card-reason-back">
            <p>I piatti, serviti in mono-porzione e protetti, sono tutti etichetatti. Riportano tutto ciò che hai sempre voluto sapere: Ingredienti, calorie, apporto nutrizionale, allergeni...</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-dove icon-reason"></i>
            <h4 class="text-center text-reason">Mangia quando vuoi, dove vuoi.</h4>
          </div>
          <div class="card-reason-back">
            <p>Il tuo piatto è protetto in una scatola compostibile sigilata ed è sempre pronto ad essere degustato.Lo puoi prendere quando vuoi e portalo dove preferisci: Sala pranzo, scrivania, sala riunione..o anche al parco! Decidi tu !</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-piggy-bank icon-reason"></i>
            <h4 class="text-center text-reason">Prezzi dolci per dipendenti in salute.</h4>
          </div>
          <div class="card-reason-back">
            <p>Proponiano prezzi scontati per le aziende con l'intento di rendere il cibo sano accessibile a tutti. Assieme alla tua azienda studiamo la migliore soluzione perche possa contribuire fino all 100% del costo del tuo pasto!</p>
          </div>
        </div>
      </div>

      <div class="class=col-12 col-md-6 col-lg-4 flip-card-reason">
        <div class="card-reason-inner">
          <div class="card-reason-front">
            <i class="fas fa-calendar-check icon-reason"></i>
            <h4 class="text-center text-reason">Gestisci al meglio le tue riunioni importanti.</h4>
          </div>
          <div class="card-reason-back">
            <p>Siamo in grado di preparare dei piatti ad-hoc per le tue occasioni speciali: riunione del board, riunioni del tuo reparto, riunioni clienti. Basta che ci informi con qualche giorni di anticipo e saremo felici di deliziare i tuoi ospiti.</p>
          </div>
        </div>
      </div>

    </div>
    <!--.Business-cards-reason row-->
    <!--row-->
    <div class="row justify-content-center mt-4">
      <div class="col-10 col-md-8 col-lg-10">
        <div class="card-business-green">
        <p class="mb-0">SEI UN DIPENDENTE DI UN'AZIENDA E VUOI PORTARE ASSAPORAMI NEI TUOI UFFICI ?&nbsp;&nbsp;<%= link_to "CONTATTACI", "/contact_employees.html#first_name", class: "btn btn-simple-contact" %> </p>
        </div>
      </div>
    </div>
    <!--.row-->

  </div>
</div>
<!--.Banner bg-white-->

<!--Banner bg-light-gray-->
<div class="banner bg-light-gray">
  <div class="container text-center padding-top-bottom d-flex" id="marbo-60">

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-6 p-3">
        <h3 class="mb-3">Dei piatti per tutti i stili di vita</h3>
        <div>
          <p class="mb-0">In Assaporami, siamo molto attenti al benessere. Per questo motivo proponiamo dei piatti freschi, buoni e sani. Siamo anche molto attenti al rispetto delle persone, alle loro convinzioni e ai loro modo di alimentarsi. I nostri chef propongono un ampia gamma di piatti equilibrati: Piatti per sportivi, vegani, vegetariani, piatti senza glutine, o senza maiale. Le etichette, e le informazioni sul nostro sito, vi permettono di sapere quali ingredienti sono stati usati per la loro preparazione, se ci sono degli allergeni particolari, quanti calorie comporta un piatto o ancora che tipo di nutrimenti contengono. Pensiamo a voi. A tutti voi.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573643728/Assaporami/Index/gallery_piatti.jpg", :class => "gallery__img", :alt => "Assaporami - Selezione di piatti" %>
      </div>
    </div>

  </div>

</div>
<!--.Banner bg-light-gray-->

