<div class="container">

      <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
          <h5 class="text-center mb-4">INSERISCI I TUOI DATI PER METTERTI IN CONTATTO E RICEVERE L'OFFERTA PIU ADATTA ALLA TUA AZIENDA</h5>
          <form action="https://formspree.io/xbjrqzpr" method="POST" class="form">

              <div class="col-md-4 form-group">
                <input type="email" name="_replyto" placeholder="esempio@domain.com" id="_replyto" required>
              </div>
              <div class="col-md-4 form-group">
                <input type="text" name="company" placeholder="Azienda" id="company" required>
              </div>
              <div class="col-md-4 form-group">
                <input type="text" name="num_tel" placeholder="Numero di telefono" id="num_tel" required>
              </div>

            <input type="submit" value="Sign In" class="btn btn-primary btn-lg w-100">
          </form>
        </div>
      </div>


    </div>
